* {
    box-sizing: border-box;
}

:root {
    --primary: #0a0808c5;
    --secondary: #8207a1;
    --tertiary: rgb(211, 56, 144);
    --white: rgb(255, 255, 255);
    font-size: 63%;
}

/* Body */
body {
    background: #ededed;
    color: var(--secondary);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

/* Header */
header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 95%;
}

/* Button Style */
.btn {
    background: var(--secondary);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px grey;
    margin-top: 10px;
}

.startend {
    width: 25%;
    margin-top: 10px;
}

/* media query for smaller screens */
@media screen and (max-width: 1024px) {

    .btn {
        width: 100%;
        font-size: 3.0vw;
    }

    h1 {
        font-size: 4.5vw;
    }

    p {
        font-size: 3.0vw;
    }
}